*{
    box-sizing: border-box;
   
}

body{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

#a{
    color: rgb(15, 15, 15);
    background-color:yellowgreen;
    height: 100vh;
   

}
#b{
    padding-left:50px;
    
}